*{margin: 0}

.logo {
    font-size: 25px;
    color: #3C4858;
    padding: 10px 0px;
    text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #dfe6e9;
}

.menu a {
    color: #3C4858;
    font-size: 16px;
}

.menu li {
    padding-top: 25px;
    padding-left: 26px;
}

ul.menu {
    background-color: white;
    width: 250px;
    height: 631px;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0px;
}
.menu i {
    color: #3C4858;
    padding-right: 8px;
}
.bo{
    width: 160px;
    height: 10px;
    border-top:1px solid black;
    margin: auto;
}
.btnn {
   
   
    /* background-color: #f1f1f1; */
   cursor: pointer; 
    /* font-size: 18px; */
  }
  
  /* Style the active class, and buttons on mouse-over */
   .active,.btnn:hover {
    background-color: #dfe6e9;
    color: white;
  }
  .menu li {
    padding-left: 26px;
    padding: 13px 20px;
}
.content{
    position:relative;
    height: 617px;
    margin: 6px 0 0 40px;
}
* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
.phom{
    width: 500px;
    margin: auto;
    
    
}

.phom2{
    width: 500px;
    margin: auto;
    display: none;
    
}
.header{
  width: 1090px;
  height: 70px;
  background-color: white;
  margin-left: 250px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px #888888;
}

.header a {
  color: #3C4858;
  position: absolute;
  top: -48px;
  left: -43px;
}

.header input[type=text] {
  padding: 6px;
  margin-left: 20px;
  font-size: 17px;
  width: 550px;
  
}

.header button {
  
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #b2bec3;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
img {
  width: 200px;
  padding: 13px 10px;
}
.tab{
  position: absolute;
  top: 0;
  left: 45px;
  
}
table.table.table-bordered {
  width: 1000px;
  background-color: white;
}
select#idtype {
    width: 100%;
}


