*{
    padding: 0;
    margin: 0;
}

.buton {margin-top: 17px;
}

.duoi4 h3 {font-size: 17px;font-weight: 700;}

.duoi4 span {
    font-size: 15px;
    font-weight: 600;
}

.duoi4 p {
    font-size: 12px;
}

.duoi3 a {text-decoration: none;color: black;}

.ii {
    display: inline-block;
}

.ii i {
    font-size: 23px;
}

.ii p {
    font-size: 13px;
    margin-left: -8px;
    margin-right: 18px;
}

.duoi1 p {
    font-weight: 600;
}

.duoi1 li {text-decoration: none;list-style: none;padding: 2px;    cursor: pointer;}
.duoi1 li:hover{
    color: red;
}
.khoip strong {
    position: absolute;
    top: 10px;
    left: 46px;
}

.x {
    margin-top: 16px;
    color: #2d3877;
    margin-bottom: 8px;
    font-size: 24px;
}

.main .danhmuc li {
    text-decoration: none;
    list-style: none;
    padding-top: 8px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.main .danhmuc li:hover{
    color: green;
    cursor: pointer;
}

.hphai {width: auto;height: auto;padding-left: 10px;}

.main .giovang {
    padding: 0;
    margin: 0;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.mainx .giovang {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.htrai .giovang {border: 2px solid blue;margin: 0;padding: 10px;margin-bottom: 22px;}

.giua p {
    font-size: 15px;
}

.giua span {
    color: red;
    font-size: 27px;
}

.giua {
    padding: 30px 0 30px 0;
}

.price p {
    text-decoration: line-through;
    font-size: 13px;
    margin-bottom: 0;
}

.price span {
    font-size: 15px;
    font-weight: 700;
    margin-top: 13px;
    display: block;
}

.shock p {
    height: 62px;
    padding-top: 10px;
    color: #333;
    overflow: hidden;
}
.tc{
    color: red;
}
i.phantram {
    color: white;
    background-color: red;
    padding: 4px 5px;
    border: 0px solid red;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.gio p {
    font-size: small;
    font-weight: 100;
}

.gio a {
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    padding-left: 10px;
}

ul.gio {
    background-color: rgb(196, 3, 22);
    height: 45px;
    margin-top: 25px;
}

.gio .gphai li {
    /* background-color: red; */
    padding-left: 97px;
    padding-right: 34px;
    padding-top: 1px;
    padding-bottom: 0px;
}

.gio li {
    /* background-color: rebeccapurple; */
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.gio {
    text-decoration: none;
    list-style: none;
}

.gio i {
    color: white;
    font-size: x-large;
    padding-right: 6px;
}

ul.part {
    background-color: white;
    text-decoration: none;
    list-style: none;
    position: absolute;
    width: 984px;
    height: 453px;
    z-index: 3;
    left: 195px;
    top: 0px;
    display: none;

    
}
.vienmau{
    margin-top: 20px;
    height: 30px;
    background-color: rgb(228, 228, 228);
    
}
.anh {
    background-image: url("https://img1.phongvu.vn/media/banner/pv-banner-390x190-c6b07.jpg");
    width: 285px;
    height: 144px;
    background-size: contain;
    margin-bottom: 10px;
    cursor: pointer;
}
.anh1 {
    background-image: url("https://img1.phongvu.vn/media/banner/pv-banner-390x190-025bd.jpg");
    width: 285px;
    height: 144px;
    background-size: contain;
    margin-bottom: 10px;
    cursor: pointer;
}


.anh2 {
    background-image: url("https://img1.phongvu.vn/media/banner/pv-banner-390x190-0a6e3.jpg");
    width: 285px;
    height: 144px;
    background-size: contain;
    margin-bottom: 10px;
    cursor: pointer;
}
ul.menudoc {
    background-color: #fff;
    list-style: none;
    height: 456px;
    width: 187px;
}

.khoiqc a {color: #333;padding-top: 6px;display: block;font-weight: 600;padding-left: 10px;/* padding-right: 3px; */padding-top: 7px;padding-bottom: 5px;text-decoration: none;}

.buton .bt {
    display: inline;
    padding: 10px 35px;
    border: 1px solid black;
}


.khoiqc .menudoc a:hover{
    background-color: #b3d4fc;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #d42333;
}
.navbar-inverse .navbar-nav>li>a {color: rgba(0,0,0,.87);font-weight: 700;}

nav.navbar.navbar-inverse {
    box-shadow: 5px 2px #888888;
    background-color: #f1f0f1;
    border: none;
    color: rgba(0,0,0,.87);
    margin-bottom: 0;
}

.duoi .ga i {
    font-size: 16px;
    margin-top: -18px;
    margin-right: 8px;
    color: rgba(0,0,0,.87);
}

.ga {
    display: flex;
}

.duoi .nav>li>a {
    font-size: 12px;
    padding-left: 0px;
}

.duoi .nav>li {
    padding-left: 0px;
}

i.glyphicon.glyphicon-search {
    height: 26px;
    line-height: 26px;
}

input.form-control {
    height: 40px;
}

form.navbar-form.navbar-left {
    padding-left: 60px;
    margin-right: 75px;
    margin-top: 17px;
}

.nav i {
    color: white;
    padding-top: 21px;
    font-size: 29px;
}

.nav>li {display: flex;padding-left: 25px;}



.navbar-default {
    padding: 3px 0 3px 0;
    background-color: rgb(48, 38, 187);
    border: none;
    margin-bottom: 0;
}

a.navbar-brand{
    background-image:url("../img/logo.jpg");
    background-size: cover;
    height: 76px;
    width: 72px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f0f1;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 15px;
}
.nav p{
    margin-bottom: 0;
}
.khoiqc{
    height: 450px;
    margin-top: 8px;
}
.khoiqc .btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 160px;
    font-weight: bolder;
    padding-top: 11px;
    border: none;
    line-height: 38px;
    
}

.khoiqc li {
    position: relative;
}

.khoiqc .part li {
    
    display: inline-flex;
}
.shock{
    width: 1144px;
    height: 423px;
    background-color: white;
    margin-top: -7px;
}
.giovang{
    padding-top: 20px;
    width: 214px;
    height: 371px;
    background-color: white;
    margin: 0 7px;
    float: left;
}
.sale{
    width: 194px;
    height: 25px;
    background-color: white;
}
i.ic {
    color: red;
    padding-left: 10px;
}
.spham{
    width: 188px;
    height: 195px;
    /* background-image: url(https://file.services.teko.vn/media/79/20/1565775801.503012_Acer_Swift_3_SF314-56_SparklySilver_ChillBag.jpg);
    background-position: center center;
    background-size: contain; */
    
    margin: auto;
}
.spham img{
    width: 100%;
}
.price{
    width: 194px;
    height: 50px;
    
}
.main{
    height: 900px;
    background-color:white;
    
    
}
.mainx{
    height: 1200px;
    background-color:white;
    
    
}
.main .giovang {
    padding-top: 10px;
}
.main h4{
    text-align: center;
}
.btx{
    width: 1140px;
    height: 99px;
    margin-bottom: 10px;
    background-color:white; 
    padding-top: 27px;
    margin-left:-15px;
    
}
.bt{
    width: 1140px;
    height: 99px;
    margin-bottom: 10px;
    background-color:white; 
    padding-top: 27px;
    
}


.giovang a{
    text-decoration: none;
    color: black;
}
.giovang:hover{
    -webkit-box-shadow: 0 0 10px 0 hsla(0,0%,60%,.6);
     box-shadow: 0 0 10px 0 hsla(0,0%,60%,.6);
}
.giovang p{
    padding-left: 7px;

}
.giovang span{
    padding-left: 7px;
}
.bt a {
    display: block;
    border: 1px solid red;
    width: 200px;
    height: 36px;
    margin: auto;
    line-height: 31px;
    color: red;
    text-decoration: none;
}

.khoii1{
    float: left;
    width: 234px;
    height: 257px;
    padding-left: 20px;
   
}
.item img{
    object-fit: cover;
}

.pttt {
    float: left;
    margin-right: 12px;
    padding-left: 10px;
}
.duoi2{
    padding-top: 15px;
    background-color: #FFFFFF;
}
.khoii1 i {
    font-size: 25px;
    margin-right: 10px;
}
.men{
    position: relative;
}
.main-mobile{
    position: absolute;
    display: none;
}
.hieu{
    position: absolute;
    display: none;
}
.motkhoi h3 {
    font-size: 18px;
    font-weight: 600;
}

.motkhoi p {
    font-size: 12px;
}

.motkhoi i {
    font-size: 17px;
    margin-right: 11px;
}

.xtrai a {
    color: black;
    text-decoration: none;
}

.xtrai li {padding: 20px;font-size: x-large;}

ul.xtrai {text-decoration: none;list-style: none;padding: 20px;}

.xmenu {
    position: absolute;
    z-index: 999;
    background-color: white;
}
.xtrai i {
    margin-right: 20px;
}
.xtrai li:hover{
    background-color: #81ecec;
}
.xmenu{
    display: none;
}


.detail{
    background-color: white;
    height: 1000px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.btrai img{
    width: 100%;
}
.dduoi{
    background-image: url("https://phongvu.vn/images/price-desktop-bg.jpg");
    margin-top:14px;
    padding: 10px ;
    
}
.detail span{
    font-size: 20px;

}
.vien{
        
    width: 100%;
    height: 550px;
    background-color: white;
    margin-top: 20px;
    
    
}
.top{
    background-color: rgb(250, 251, 253);
    width: 100%;
    height: 95px;
    border-top: 2px solid red;
    border-bottom: 2px solid rgb(232, 232, 232);
}
.khoi{
    height: 95px;
    width: 237px;
    border-left: 2px solid rgb(232, 232, 232);
    /* border-right: 2px solid rgb(232, 232, 232); */
    float: left;
}
.khoi i {
    color: red;
    font-size: 33px;
    line-height: 86px;
}
.khoi span {
    color: #666;
    font-size: 13px;
    padding: 10px;
    font-weight: 700;
}
.khoip{
    width: 415px;
    height: 89px;
    border-right: 2px solid rgb(232, 232, 232);
    position: relative;
}
.v {
    display: inline;
    padding: 8px 0 5px 12px;
}
.duoi1{
    margin-top:15px; 
    width: 1140px;
    height: 270px;
    position: relative;
   
}
.result{
    text-align: center;
    height: 400px;
    background-color: white;
    padding: 20px;
    
}
.result .mail {
    font-weight: bold;
    color: brown;
}
.main a{
	color : black;
}
.mainx a{
	color : black;
}