*{
    margin: 0;
    padding: 0;

}
img{
	width: 20%;
}
.register-link {
    text-align: center;
    padding-top: 25px;
}

.khoi .register-link a {
    color: red;
}
.test{
  display: none;
}
li.pathen:hover .test {
  display: block;
}

.logo {
    text-align: center;
    padding: 25px 0;
}
body{
    background-color:#e5e5e5; 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #666;
}
.khoi{
    width: 540px;
    height: 430px;
    background-color: white;
    margin: 0 auto;
    margin-top: 76px;
    padding: 20px 20px;
}
.khoi label{
    padding: 6px 0;
}
.khoi .btn{
    width: 100%;
    height: 40px;
}



.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    text-align: center;
    padding: 23px 8px 6px 40px;
    text-decoration: none;
    font-size: 20px;
    color: #555;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #007bff;
    width: 300px;
  }
  
  /* Main content */
  .main {
    margin-left: 300px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    color: #555;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: white;
    padding-left: 8px;
    
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .logo2 {
    background-color: #f5f5f5;
}
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  