*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.cha{
    height: 100%;
    background-color: #222d32;
    position: fixed;
}
.cha li{
    color: white;
    padding: 10px 30px;
}
.navbar-default{
    margin: 0;
    background-color: #3c8dbc;
    border: none;
    color: white;
}
.navbar-default .navbar-brand{
    color: white;
}
.cha a{
    text-decoration: none;
    color: white;
}
.cha li:hover{
    color: black;
    background-color: #72afd2;

}
.cha i {
    margin-right: 10px;
    font-size: 18px;
}

.phom {
    margin-left: 300px;
    margin-top: 50px;
    width: 700px;
}
.phom2 {
    margin-left: 250px;
    margin-top: 50px;
    
}
.active{
	
    background-color: #72afd2;
    border-left: 4px solid white;

}
.input-group{
	margin: 10px 0;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-default .navbar-nav>li>a:hover{
    color: white;
}
.navbar-default .navbar-brand:hover{
    color: white;
}
.do{
	color:red;
}